.button {
  font-family: Amatic SC;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding: 4px 15px;
  background: #0c2d48;
  border: 1px solid #0c2d48;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
