.letters {
  /*   position: absolute;
  bottom: 10vmax;
  left: 0;
  right: 0; */
  margin-inline: auto;
  margin-bottom: 5vmin;
  gap: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
  padding: 0 15px;
  max-width: 560px;
  .letter {
    &:nth-child(25) {
      grid-column: 3;
    }

    &:last-child {
      grid-column: 4;
    }
  }
}
