.navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 35px;
  background-color: #0c2d48;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
  i {
    color: #1e5989;
    font-size: 2rem;
  }
}
