.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c2d48;
  position: absolute;
  right: 0;
  bottom: 50%;
  left: 0;
  margin-inline: auto;
  border-radius: 10px;
  width: 108px;
  height: 53px;
  transition: all 0.5s;
  transition-property: bottom, width, height;
  transition-delay: 0s, 550ms, 50ms;
  gap: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: white;

  z-index: 10;

  i {
    cursor: pointer;
  }
  button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 7px 35px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 24px;
    font-size: 20px;
  }
  .play {
    cursor: pointer;
  }
}
.mobile {
  max-width: 560px;
  background-color: #0c2d48;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
  bottom: 0;
  width: 100%;
}
.expand {
  height: 50%;

  padding-top: 80px;
  flex-direction: column;
  justify-content: start;
}
