body,
button {
  font-family: "Amatic SC", cursive;
}
body {
  background: linear-gradient(180deg, #01051e -3%, #101d19 61%, #0c2c45 100%);
}
.main-container {
  position: relative;
  height: 100vh;
}
.container {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1024px;
  max-height: 862px;
  margin: auto;

  .title {
    position: absolute;
    top: 250px;
    color: #ffd706;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    letter-spacing: 0.11em;
    text-shadow: 0px 0px 4px #000000;
  }
  .buttons {
    display: flex;
    gap: 25px;
  }
  .sky {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-image: url("./assets/bg-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 60%;
    z-index: -1;
  }
  .moon {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
  }
  .grass {
    position: absolute;
    bottom: 39%;
    left: -10px;
    z-index: 3;
  }
  .gradient {
    background: linear-gradient(180deg, #101d19 0%, #0c2d48 100%);
    height: 40%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  i {
    background: linear-gradient(180deg, #ffd706 0%, #ff9900 100%, #0c2a43 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
