body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: green;
  max-width: 50%;
  margin: auto;
}
.game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  position: relative;
  background-color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  transition: all 0.5s;
  height: 0%;
}
.navbar > .buttons {
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.content {
  text-align: center;
  display: grid;
  place-content: center;
  height: 100%;
}

.content-center {
  display: grid;
  place-content: center;
}
.expand {
  height: 50%;
}

.lives {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.lives .life {
  display: block;
  height: 15px;
  width: 15px;
  background-color: gray;
}

.letters-container {
  display: grid;
  place-content: center;
  justify-items: center;
}
.correct-letters {
  display: flex;
  gap: 10px;
}
.alphabet {
  display: flex;
  gap: 10px;
}
.letter {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(12, 45, 72, 0.56);
  border: 1px solid #0c2d48;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  padding: 4px 12px;
  width: 38px;
  height: 35px;
}
