.letter {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background: rgba(12, 45, 72, 0.56);
  border: 1px solid #0c2d48;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 4px 15px;
  height: 35px;
  width: 40px;
}
.correct {
  background: rgba(9, 129, 35, 0.72);
  border: 1px solid rgba(17, 72, 12, 0.5);
  color: rgba(255, 255, 255, 0.42);
}
.wrong {
  background: rgba(129, 9, 9, 0.72);
  border: 1px solid rgba(87, 27, 27, 0.55);
  color: rgba(255, 255, 255, 0.42);
}
